<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" style="font-size 16px;">Home</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item" style="font-size 16px;">
          <a class="nav-link" href="projects/new">New Project</a>
        </li>
        <li class="nav-item" style="font-size 16px;">
          <%= button_to "Sign out", destroy_user_session_path, method: :delete  %>
        </li>
      <%else%>
        <li class="nav-item" style="font-size 16px;">
          <a class="nav-link" href="/users/sign_in">Sign In</a>
        </li>
        <li class="nav-item" style="font-size 16px;">
          <a class="nav-link" href="/users/sign_up">Sign Up</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="jumbotron bg-success text-white">
  <div class="container">
    <h1 class="display-2 text-center">Roman Joska Portfolio</h1>
    <h1 class="display-5">Info</h1>
    <p>
    Hello and welcome to my portfolio of projects. I will be uploading, updating, and editing projects that I have been working on and will be working on in the future!
  </div>
  <br>
</div>

<p style="color: green"><%= notice %></p>

<div id="projects">
<h1 class="display-5 text-center">Projects</h1>
<div class="album py-5 p-3">
  <div class="row p-3">
  <% @projects.each do |project| %>
    <div class="col-md-4 margin-right-xs margin-left-xs" style="border: 1px solid black;">
      <h3 class="text-center"><%= project.title %></h3>
      <p class="text-center text-truncate-2"><%= project.description %></p>
      <p>
        <%= link_to "Show this project", project %>
      </p>
      </div>
    <% end %> 
  </div>
 </div> 
</div>