<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" style="font-size 16px;">Home</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item" style="font-size 16px;">
          <a class="nav-link" href="projects/new">New Project</a>
        </li>
        <li class="nav-item" style="font-size 16px;" data-method="delete">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-dark' %>
        </li>
      <%else%>
        <li class="nav-item" style="font-size 16px;">
          <a class="nav-link" href="/users/sign_in">Sign In</a>
        </li>
        <li class="nav-item" style="font-size 16px;">
          <a class="nav-link" href="/users/sign_up">Sign Up</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<p style="color: green"><%= notice %></p>

<center>
  <div class="card text-white bg-success mb-3 centerPage" style="max-width: 32rem;">
    <div class="card-header" style="height: 4rem;">
      <h3><%= @project.title %></h3>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= @project.description %>
      </p>
    </div>
  </div>
<center>

<% if user_signed_in? %>
<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
<% else %>
<div>
  <%= link_to "Back to projects", projects_path %>
</div>
<% end %>