<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" style="font-size 16px;">Home</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item" style="font-size 16px;">
          <a class="nav-link" href="projects/new">New Project</a>
        </li>
        <li class="nav-item" style="font-size 16px;" data-method="delete">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-dark' %>
        </li>
      <%else%>
        <li class="nav-item" style="font-size 16px;">
          <a class="nav-link" href="/users/sign_in">Sign In</a>
        </li>
        <li class="nav-item" style="font-size 16px;">
          <a class="nav-link" href="/users/sign_up">Sign Up</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
    <h2 class="form-signin-heading">Please sign in</h2>
    <%= f.label :email, 'Email Address', class: 'sr-only' %>
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>

    <%= f.label :password, 'Password', class: 'sr-only' %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>

    <% if devise_mapping.rememberable? -%>
      <label>
        <%= f.check_box :remember_me, label: false %>
        Remember me
      </label>
    <% end -%>

    <%= f.button "Sign in", class: 'btn btn-lg btn-success btn-block' %>
  <% end %>
</div>
